<html>
    <head>
        <title>TicTacToe | DevPlusZw</title>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            </style>
    </head>
    <body>
        <h1><centre><u>TicTacToe by DevPlusZw</u></centre></h1>
        <br><br>
        <hr>
        <h4>num -> {{num}}</h4>
        <hr>

        <hr>
        <h1>{{player}}</h1><br>
        <h1>{{board}}</h1>
        <centre>
        <table width="50%">
             <tr>
                <td>{% if board[0] != " " %}
                        <h1>{{board[0]}}</h1>
                    {% endif %}
                    {% if board[0] == " "%}
                        <h1>1</h1>
                    {% endif %}
                </td> 
                <td>{% if board[1] != " " %}
                    <h1>{{board[1]}}</h1>
                {% endif %}
                {% if board[1] == " "%}
                    <h1>2</h1>
                {% endif %}</td> 
                    <td> 
                        {% if board[2] != " " %}
                        <h1>{{board[2]}}</h1>
                    {% endif %}
                    {% if board[2] == " "%}
                        <h1>3</h1>
                    {% endif %}
                    </td>
             </tr>
             <tr>
                <td>{% if board[3] != " " %}
                    <h1>{{board[3]}}</h1>
                {% endif %}
                {% if board[3] == " "%}
                    <h1>4</h1>
                {% endif %}</td> 
                <td>{% if board[4] != " " %}
                    <h1>{{board[04]}}</h1>
                {% endif %}
                {% if board[4] == " "%}
                    <h1>5</h1>
                {% endif %}</td> 
                <td>{% if board[5] != " " %}
                    <h1>{{board[5]}}</h1>
                {% endif %}
                {% if board[5] == " "%}
                    <h1>6</h1>
                {% endif %}</td>
             </tr>
             <tr>
                <td>{% if board[6] != " " %}
                    <h1>{{board[6]}}</h1>
                {% endif %}
                {% if board[6] == " "%}
                    <h1>7</h1>
                {% endif %}</td> 
                <td>{% if board[7] != " " %}
                    <h1>{{board[7]}}</h1>
                {% endif %}
                {% if board[7] == " "%}
                    <h1>8</h1>
                {% endif %}</td> 
                <td>{% if board[8] != " " %}
                    <h1>{{board[8]}}</h1>
                {% endif %}
                {% if board[8] == " "%}
                    <h1>9</h1>
                {% endif %}</td>
             </tr>
        </table>
        <!-- to show error if error is not '' empty -->
        {% if error != '' %}
        <div><hr><b><u>ERROR - {{error}}</b>u><b></b><hr></div>
        {% endif %}
        </centre>
        <br>
        <p>Deployment Test - 1</p>
        <br>
        <hr>
        <form action="" method="post">
            <input type="text" name="pos" text="0" >
            <input type="text"name="player" text="X" >
            <input type="submit" name="submit" value="Submit">
        </form>
        <div class="bottomnav"><h2> &copy DevPlusZw 2022</h2></div>
    </body>
</html>